@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<!--<header>
    <h1>Books</h1>
</header>-->

@foreach (var x in Model.Books)
{
<!--Display information for all Books stored in the database-->
    <!--Use partial view instead of all in index-->
    <partial name="BookSummary" model="x" />
}

<!--Add navigation-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>
